<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=@team.name%></h1>
    <h2>Team Motto: <%=@team.motto%></h2>
    <h2>Hero Name: <%=@heroes[0].name%></h2>
    <p>Hero Power: <%=@heroes[0].power%></p>
    <p>Hero Biography: <%=@heroes[0].bio%></p>
    <h2>Hero Name: <%=@heroes[1].name%></h2>
    <p>Hero Power: <%=@heroes[1].power%></p>
    <p>Hero Biography: <%=@heroes[1].bio%></p>
    <h2>Hero Name: <%=@heroes[2].name%></h2>
    <p>Hero Power: <%=@heroes[2].power%></p>
    <p>Hero Biography: <%=@heroes[2].bio%></p>
  </body>
</html>
